@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="bridgehead"]{
	display: inline-block;
	font-variant: small-caps;
	text-transform: lowercase;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}
